httpx>=0.27
websockets>=12.0
python-dotenv>=1.0
pydantic==2.13.4
pydantic-settings==2.14.2
sqlmodel>=0.0.21
alembic>=1.13
python-json-logger>=2.0
psycopg2-binary>=2.9       # driver PostgreSQL para RDS en AWS
boto3>=1.34                # AWS SDK: Secrets Manager, ECR, etc.
fastapi[standard]>=0.111   # API Dashboard
uvicorn[standard]>=0.30    # servidor ASGI dentro del proceso del bot